@model TSPDevTools.Model.Skill

@{
    ViewBag.Title = "Edit";
}

<style>
    /* Styles for all the Edit and Details Views */
    .col-md-10 {
        width: 50%;
        margin-left: 10px;
        padding-left: 0px;
        text-align: left;
    }

        .col-md-10 .form-control {
            width: 60%;
            text-align: left;
        }

    .col-md-2 {
        margin: 0px 40px 0px 15px;
        padding: 0px;
        width: 5%;
        text-align: left;
    }

    .form-group {
        margin: 10px;
        text-align: left;
        width: 50%;
    }

    .form-control {
        text-align: center;
        margin-left: 0px;
        padding-left: 6px;
        width: 19%;
    }

    label {
        margin-top: 30px;
        margin-left: 10px;
    }

    #skillstxt {
        width: 100px;
        padding: 0px;
        margin: 0px 0px 0px 10px;
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h2>Edit</h2>
        <h4>Skill</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="margin: 20px 0px 10px 0px;" />
            </div>
        </div>

        

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
